* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

#quran-content {
    margin-top: 50px;
}
body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-track {
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}

body::-webkit-scrollbar-thumb {
    background-color: #45a049;
    border-radius: 5px;
    background-image: linear-gradient(to top, #45a049, #bbb);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2); 

}

header {
    z-index: 9999;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    top: 0px; 
    width: 100%;
}

button {
    margin: 5px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}




.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(201, 201, 201);
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 60px;
    box-shadow: 2px 7px 18px rgba(0, 0, 0, 0.2);
    padding-top: 100px;
}
/* #search-input {
    padding: 7px 11px;
    margin-left: 20px;
    border: none;
    outline: none;
    border-radius: 11px;
} */

.search-container {
    position: relative;
    width: 100%;
    margin: 10px 0;
  }
  
  #search-input {
    width: calc(100% - 40px);
    padding: 10px 35px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  .search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #888;
  }


.sidebar ul {
    list-style: none;
    padding: 0;
    margin-left: 20px;
}

.sidebar li {
    width: 180px;
    height: 40px;
    border: 1px solid grey;
    margin-top: 5px;
    border-radius: 11px;
    text-align: center;
}
.sidebar ul li a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    transition: 0.3s;
    color: #000;

}

.sidebar ul li a:hover {
    background-color: #a8a4a4;
}




    

/* .removedBlur {
    filter: none !important;
} */
.settings {
    position: fixed;
    right: 20px;
    top: 20px;
    cursor: pointer;
    font-size: 25px;
    z-index: 9999;
}
#modul-settings {
 min-width: 250px;
 position: fixed;
 top: 70px;
 right: -100%; 
 min-height: 100vh;
 z-index: 1;
 background-color: #bbb;
 transition: right 0.5s ease-out;

}
.on {
    display: none;

    width: 50px;
    height: 30px;
    border: 1px solid #333;
    background-color: #333;
    border-radius: 30px;
    position: absolute;
    top: 20px;
    left: 10px;
}


#round11 {
    width: 25px;
    height: 25px;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 50%;
    margin-top: 1px;
    cursor: pointer;
    z-index: 9999;
}
.dark {
    background-color: #222;
    color: #fff;
}

main {
    padding: 20px;
}

.loader {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.under {
    position: relative;
    padding: 15px;
}

.under::after {
    content: "";
    position: absolute;
    left: 0px;
    right: 0;
    width: auto;
    bottom: -2px; 
    height: 2px; 
    background-color: currentColor; 
}
.fa-bars {
    font-size: 30px;
    cursor: pointer;
    color: white;
    border: none;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    top: 10px;
    left: 2px;
}
.fa-bars:hover {
    background-color: #45a049;
    border-radius: 50%;
}


/* Scroll to Top */
#scroll1 {
    display: none;
    position: fixed;
    left: 20px;
    bottom: 80px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 20px;
}


.sidebar::-webkit-scrollbar {
    width: 10px;

}
.sidebar::-webkit-scrollbar-thumb {
    background-color: #45a049;
    border-radius: 5px;
    background-image: linear-gradient(to top, #45a049, #bbb);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2); 
}

.sidebar::-webkit-scrollbar-track {
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}
#font-size-controls {
    transition: transform 0.5s ease; 

  }
#scroll1:hover {
    background-color: #45a049;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.highlighted {
    background-color: yellow;
    color: black; 
}
@media (max-width: 600px) {
    .open-btn,
    .close-btn {
        font-size: 18px;
        padding: 8px 10px;
    }

    .sidebar ul li a {
        font-size: 18px;
    }

    .fixed-buttons button {
        font-size: 18px;
        width: 30px;
        height: 30px;
        position: relative;
        left: 15px;
        top: -15px;
    }
    #hidee {
        top: 240px;
    }
    h1 {
        font-size: 20px;
    }

    #quran-content {
        padding-bottom: 50px;
    }
    
  
}
